<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Bytes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
</head>
<body class="bg-gradient-to-r from-blue-300 to-purple-400 min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-md max-w-2xl w-full mx-4">
        <form>
            <h2 class="text-2xl font-bold mb-6">Choose your warrior!
            </h2>
            <div class="flex justify-center">
              <div class="grid grid-cols-2 gap-8">
                <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded">
                  Quiz
                </button>
                <button class="bg-rose-500 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded">
                  Video
                </button>
                <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded">
                  Summary
                </button>
                <button class="bg-rose-500 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded">
                  Flash Cards
                </button>
              </div>
            </div>
        </form>
    </div>
</body>
</html>